# Build artifacts
*.ex
*.o
*.obj
*.mod
*.a
*.so
*.dylib
*.cuo

# Logs
*.log
*.out
*.err
Backtrace.*
*.txt

# Generated directories
**/data/
**/tmp_build_dir/
**/case_*/
**/plt*/
**/.cache/
**/chk*/
# IDE/editor


# Misc
*.nfs*
*.tgz
*.tar
*.zip

# Compile DB (optional keep)
# compile_commands.json
